.content2{
    --background: #c1ffd1;
    --color: black;
  }

ion-grid {
    
    --ion-grid-padding: 0px;
    --ion-grid-column-padding: 0px;
    --ion-grid-columns: 3;
    --color: black;
  }

.input2{
    height: 30px;
    line-height: 0px;
    --color: black;
  }

.col {
    background: rgb(255, 255, 255);
    border-radius: 10px;    
    border-style: solid;
    border-width: 1px;
    border-color:black;
    text-align: center;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    --color: black;
  }