.item2{
    --background: #c1ffd1;
    --color: black;
}

.titlefont3{
    --color: grey;
    
}

.textfont3{
    --color: black;
    --background:white;
    background:white;
}

.textback3{
    --background:white;
    background:white;
}

.checkbox{
    --background:white;
    background:white;
    --border-color:grey;
}