.content4{
    --background: #c1ffd1;
    --color: black;
  }

.input4{
    height: 30px;
    line-height: 0px;
    --color: black;
  }

  .titlefont4{
    --color: grey;
    
}

  .textback4{
    --background:white;
    background:white;

}