.content4{
    --background: #c1ffd1;
    --color: black;
  }

.input4{
    height: 30px;
    line-height: 0px;
    --color: black;
  }

  .titlefont4{
    --color: grey;
    
}

  .textfont4{
    --color: black;
    --background:white;
    background:white;
    text-align: center;
  }

  .slidecontainer{
    border-radius: 10px;    
    border-style: solid;
    border-width: 1px;
    border-color:black;
    --background:white;
    background:white;
    text-align: center;
  }
  .textback4{
    --background:white;
    background:white;

}