    .contentlb{
      --background: #c1ffd1;
  }
  .textfontlb{
    --color: black;
    --background:white;
    background:white;
    text-align: center;
  }
  .textbacklb{
    --background:white;
    background:white;
  }
  .titlefontlb{
    --color: grey;
    text-align: center;
    
}
  .bottombuttonlb{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}